.home {
    font-size: 1em;
}

.challenge-btn{
    padding:22px;
    min-width: 50%;
}

.challenge-list{
    padding-top:10px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 8px;

}

.animals-table,th,td{
    padding:8px;
    align-items: start;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}


@media only screen and (max-width: 600px) {
  .challenge-btn {
       min-width: 100%;
  }
}